/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Quicksand:wght@300;400;500&display=swap');
body {
    font-family: "Alegreya Sans", sans-serif;
    background-color: #F8F9F9  ;
}

/* ********** Estilos Header ********** */

/* header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    margin-bottom: 4px;
} */


/* .navBar1 ul {
    margin-right: 12px;
}

.navBar1 li {
    list-style: none;
    display: inline-block; */
    /* border-right: 1px black solid; 
}*/

/* .navBar1 a {
    text-decoration: none;
    margin-right: 4px;
    margin-left: 4px;
    color: black;
} */

.logoLadipPrincipal {
    height: 100px;
    width: 210px;
}



/* ********** Estilos del Banner Principal ********** */

.bannerPrincipal {
    display: flex;
    flex-direction: column;   
    justify-content: center;   
    align-items: flex-end;
    border-top: 1px black solid;
    /* height: 500px; */
    /* height: calc(100vh - 100px); */
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url(https://images.pexels.com/photos/323645/pexels-photo-323645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position-x: center;
    background-position-y: 30%;
}

.bannerPrincipal h1 {
    color: black;
    margin-right: 12px;
    margin-bottom: 0px;
    font-size: 28px;
}

.bannerPrincipal a {
    text-decoration: none;
    color: black;
    margin-right: 12px;
    font-size: 24px;
    border: .5px rgba(0, 0, 0, 0.226) solid;
    box-shadow: .5px .5px .5px;
    border-radius: 2px;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

@media (max-width: 600px) {

    /* Media Query del navbar y banner principal */
    .navBar1 {
        display: none;
    }

    .logoLadipPrincipal {
        height: 67px;
        width:  147px;
    }

    .bannerPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        background-image: url(https://images.pexels.com/photos/323645/pexels-photo-323645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-size: cover;
        background-position-x: 60%;
        background-position-y: 30%;
    }

    .bannerPrincipal h1 {
        color: black;
        margin-right: 12px;
        margin-left: 12px;
        font-size: 24px;
        font-weight: 400;
        background-color: #ffffffa6;
    }

    .bannerPrincipal a {
        font-size: 20px;
    }
}



/* ********** Estilos del Banner Secundario ********** */

.bannerSecundario {
    display: flex;
    flex-direction: column;   
    justify-content: center;   
    align-items: end;
    /* height: 500px; */
    height: calc(100vh - 120px);
    width: 100%;
    background-image: url(https://images.pexels.com/photos/6758773/pexels-photo-6758773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position-x: center;
    background-position-y: 60%;
    margin-top: 12px;
}

.bannerSecundario p{
    color: whitesmoke;
    font-size: 24px;
    font-weight: 100;
    margin-right: 12px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 8px;
}
.bannerSecundario a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    border: 1px #D5D8DC solid;
    border-radius: 4px;
    /* box-shadow: 1px 1px 1px; */
    padding: 4px;
}


@media (max-width: 600px){
    
    /* Media Query del banner secundario */

    .bannerSecundario {
        display: flex;
        flex-direction: column;   
        justify-content: center;   
        align-items: flex-end;
        /* height: 500px; */
        height: 100%;
        width: 100%;
        background-image: url(https://images.pexels.com/photos/6758773/pexels-photo-6758773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        margin-top: 12px;
    }

    .bannerSecundario p{
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        color: whitesmoke;
        font-size: 16px;
        font-weight: 50;
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.808);
        border-radius: 8px;
    }

    .bannerSecundario a{
        font-size: 16px;
    }

}



/* ********** Estilos del Contenido Principal del Index ********** */


.contenidoPrincipalIndex{
    margin-top: 12px;
}

.contenidoPrincipalIndex h2{
    font-size: 28px;
    border-bottom: 1px black solid;
    margin-top: 8px;
}

.contenidoPrincipalIndex h3{
    font-size: 24px;
    border-bottom: 1px #D5D8DC solid;
}

.contenidoPrincipalIndex div{
    display: flex;
    align-items: center;
}

.contenidoPrincipalIndex img{
    height: 100%;
    width: 50%;
}

.contenidoPrincipalIndex span{
    margin-left: 28px;
    margin-right: 28px;
}

.contenidoPrincipalIndex a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px #D5D8DC solid;
    border-radius: 4px;
    padding: 8px;
}


@media (max-width: 600px) {
        /* MediaQuery del contenido principal  */

        .contenidoPrincipalIndex{
            display: flex;
            flex-direction: column;
    
        }
    
        .contenidoPrincipalIndex div {
            display: flex;
            flex-direction: column;
            margin: 2%;
        }
    
        .contenidoPrincipalIndex div:nth-child(3) {
            display: flex;
            flex-direction: column-reverse;
        }
    
        .contenidoPrincipalIndex div:nth-child(5) {
            display: flex;
            flex-direction: column-reverse;
        }
    
        .contenidoPrincipalIndex img {
            width: 100%;
            height: 100%;
            /* border: 1px black solid; */
            border-radius: 8px ;
        }
    
        .contenidoPrincipalIndex span {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .contenidoPrincipalIndex h3 {
            margin-bottom: 12px;
            margin-top: 12px;
            font-size: 20px;
        }
    
        .contenidoPrincipalIndex a {
            margin-bottom: 12px;
            font-size: 12px;
        }
    
    
        .contenidoPrincipalIndex p {
            display: none;
        }
}





/* ********** Estilos del Contenido Principal de Empresa ********** */

.contenidoPrincipalEmpresa {
    margin-top: 12px;
}

.contenidoPrincipalEmpresa h2{
    font-size: 28px;
    border-bottom: 1px black solid;
    margin-top: 8px;
    border-top: 1px black solid;
    padding: 16px;
}

.contenidoPrincipalEmpresa h3{
    font-size: 24px;
    margin-top: 80px;
}

/* .somos {
    display:flex;
    justify-content: space-evenly;
} */

.contenidoPrincipalEmpresa div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .carpinterasEllas {
    height: 50%;
    width: 50%;
} */

.contenidoPrincipalEmpresa img {
    height: 100%;
    width: 100%;
}


.contenidoPrincipalEmpresa span{
    margin-left: 28px;
    margin-right: 28px;
    height: 100%;
    width: 100%;
}

@media (max-width: 600px){

    .contenidoPrincipalEmpresa div {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    .contenidoPrincipalEmpresa img {
        border-radius: 12px;
    }

    .contenidoPrincipalEmpresa h3 {
        padding: 5%;
        margin-top: 20px;
        font-weight: bold;
    }


}

/* ********** Estilos del Contenido Principal de Proyectos ********** */

.contenidoPrincipalProyectos {
    margin-top: 12px;
}


.contenidoPrincipalProyectos h2{
    font-size: 28px;
    border-bottom: 1px black solid;
    margin-top: 8px;
    border-top: 1px black solid;
    padding: 16px;
}


.contenidoPrincipalProyectos div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenidoPrincipalProyectos span {
    margin-left: 28px;
    margin-right: 28px;
    padding: 16px;
}

.contenidoPrincipalProyectos img {
    height: 100%;
    width: 100%;
}

@media (max-width: 600px) {

    .contenidoPrincipalProyectos h2{
        font-size: 28px;
        border-bottom: 1px black solid;
        margin-top: 8px;
    }

    .contenidoPrincipalProyectos div {
        display: flex;
        flex-direction: column;
    }

    .contenidoPrincipalProyectos span {
        padding: 5%;
    }

    .contenidoPrincipalProyectos img {
        border-radius: 8px;
    }

    
}


/* ********** Estilos del Contenido Principal de Cotizaciones ********** */

.contenidoPrincipalCotizaciones {
    margin-top: 12px;
}

.contenidoPrincipalCotizaciones h2{
    font-size: 28px;
    border-bottom: 1px black solid;
    margin-top: 8px;
    border-top: 1px black solid;
    padding: 16px;
}

/* .contenidoPrincipalCotizaciones form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
} */

.contenidoPrincipalCotizaciones form {
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 28px;
}

@media (max-width: 600px) {
    .contenidoPrincipalCotizaciones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenidoPrincipalCotizaciones h2 {
        font-size: 20px;
        padding: 24px;
        border-top: 1px solid black;

    }
}

/* ********** Estilos del Contenido Principal de Contacto ********** */

.contenidoPrincipalContacto {
    margin-top: 12px;
}

.contenidoPrincipalContacto h2{
    font-size: 28px;
    border-bottom: 1px black solid;
    margin-top: 8px;
    border-top: 1px black solid;
    padding: 16px;
}

.contenidoPrincipalContacto div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenidoPrincipalContacto span {
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 28px;
}

.contenidoPrincipalContacto form {
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 28px;
}

@media (max-width: 600px){

    .contenidoPrincipalContacto div {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .contenidoPrincipalContacto span {
        font-size: 16px;
    }

    .contenidoPrincipalContacto iframe {
        width: 90%;
    }
}


/* ********** Estilos del Footer ********** */

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px black solid;
    padding:12px
}

.logoIg {
    height: 20px;
    width: 20px;
}

.logoFb {
    height: 20px;
    width: 20px;
}

@media (max-width: 600px){
    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-end;
        font-size: 12px;
        padding: 6px;
    }

    footer article {
        border-bottom: 1px black solid;
    }

    footer article:nth-child(3) {
        border-bottom: none;
    }

}



/* ********** Estilos del botón del whatsapp ********** */


.whatsappBoton {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10%;
    right: 10%;

}

@media (max-width: 600px) {
    .whatsappBoton {
        width: 28px;
        height: 28px;
        position: fixed;
        bottom: 6%;
        right: 6%;
    }
}